*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(wp2757874.gif);
  background-size: 100%;

}

#wrapper{
  position: relative;
  max-width: 1200px;
  width: 100%;
  background: rgba(80, 8, 88, 0.2);
  margin: 0 auto;
}

/*  // clock units // */
#clock{
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 9% 9% 9% 9% 18% 9% 9% 9% 9%;
  grid-auto-rows: 116px;
  grid-gap: 15px;
  z-index: 1;
  grid-template-areas:
  ". . . . . . . . ."
  ". . . . d . . . ."
  ". . . . h . . . ."
  ". . . . m . . . ."
  ". . . . s . . . ."
  ". . . . p . . . ."
  ". . . . . . . . ."
  ". . . . . . . . ."
  ". . . . . . . . ."
  ". . . . . . . . ."
  ". . . . . . . . ."
  ". . . . . . . . .";
}

#clock span{
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: cursive;
  font-size: 50px;
  color: #fff;
}

/*  // spinning box// */
#palette{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 9% 9% 9% 9% 18% 9% 9% 9% 9%;
  grid-auto-rows: 116px;
  grid-gap: 15px;
  grid-template-areas:
  ". . . . . . . . ."
  ". . . . d . . . ."
  ". . . . h . . . ."
  ". . . . m . . . ."
  ". . . . s . . . ."
  ". . . . p . . . ."
  ". . . . . . . . ."
  ". . . . . . . . ."
  ". . . . . . . . ."
  ". . . . . . . . ."
  ". . . . . . . . ."
  ". . . . . . . . .";
}

#palette span{
  border-radius: 10px;
}

#clock span:nth-child(1){
  grid-area: d;
}

#clock span:nth-child(2){
  grid-area: h;
}

#clock span:nth-child(3){
  grid-area: m;
}

#clock span:nth-child(4){
  grid-area: s;
}

#clock span:nth-child(5){
  grid-area: p;
}

#palette span:nth-child(1){
  background-color: #5e17f8;
  grid-area: d;
}

#palette span:nth-child(2){
  background-color: #fa5559;
  grid-area: h;
}

#palette span:nth-child(3){
  background-color: #c54b03;
  grid-area: m;
}

#palette span:nth-child(4){
  background-color: #723f61;
  grid-area: s;
}

#palette span:nth-child(5){
  background-color: #a7a56c;
  grid-area: p;
}

@media screen and (min-width: 960px){
  /*  // clock units // */
  #clock{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 116px;
    grid-gap: 15px;
    z-index: 1;
    grid-template-areas:
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . d h m s p . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . .";;
  }

  #clock span{
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: cursive;
    font-size: 50px;
    color: #fff;
  }

  /*  // spinning box// */
  #palette{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 116px;
    grid-gap: 15px;
    grid-template-areas:
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . d h m s p . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . .";;
  }
}

#palette span.turn{
  animation: turn 0.7s ease forwards;
}

@keyframes turn{
  25%{transform: rotate(45deg);}
  50%{transform: rotate(90deg);}
  75%{transform: rotate(135deg);}
  100%{transform: rotate(180deg);}
}
